.Home {
  width: 100%;
}
.banner {
  width: 100%;
  height: 100vh;
  img {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000, $alpha: 0.8);
    }
  }
  &__content {
    position: absolute;
    font-size: 66px;
    font-weight: bold;
    line-height: 77px;
    color: #fff;
    width: 639px;
    top: 316px;
    left: 162px;
  }
}
.slick-next {
  z-index: 1;
  top: 87%;
  left: 85%;
  width: 72px;
  height: 72px;
  background-color: #fff;
  color: #000;
  margin-left: 8px;
}

.slick-prev {
  z-index: 1;
  top: 87%;
  left: 80%;
  width: 72px;
  height: 72px;
  background-color: #fff;
  color: #000;
  margin-right: 8px;
}

.banner_box__wrapper {
  margin: 60px;
  float: left;
  display: flex;
}
.banner_box {
  position: relative;
  display: flex;
  padding: 0 15px;
  .banner_content_1 {
    position: absolute;
    margin-top: 123px;
    margin-left: 56px;
    h4 {
      font-size: 25px;
      color: #fff;
      width: 153px;
      line-height: 39px;
      padding-bottom: 25px;
    }
  }
  .banner_content_2 {
    position: absolute;
    margin-top: 123px;
    margin-left: 48px;
    display: grid;
  }
  h4,
  span {
    font-size: 25px;
    color: #fff;
    width: 163px;
    line-height: 39px;
  }
  span {
    padding-bottom: 25px;
  }
}
.banner_button_1,
.banner_button_2 {
  width: 178px;
  height: 49px;
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  border-style: none;
  border: 1px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}
.banner_button_2 {
  width: 136px;
  height: 49px;
}

